    "https://speedfiles.net/12345": "speedfiles",
    "https://vidmoly.to/12345": "vidmoly",
    "https://turbovid.eu/12345": "turbovid",
    "https://bigwarp.art/12345": "bigwarp",
    "https://filemoon.to/d/12345": "filemoon",
    "https://do7go.com/e/12345": "doodstream",
    "https://johnalwayssame.com/e/12345": "voe",